AllowShortNamespacesOnASingleLine: true
NamespaceIndentation: All
FixNamespaceComments: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
IndentCaseLabels: true
BreakAfterReturnType: Automatic 
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: "Yes"
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
IncludeBlocks: Regroup
AlignAfterOpenBracket: Align
